

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
    z-index: 3;
    flex-direction: column;
    gap: 5px;
    
  }
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }
  nav p {
    height:30px;
    width: 200px;
    background-color: whitesmoke ;
    border: 2px solid tan;
    border-radius: 3%;
    padding-top: 10px;
    text-align: center;
    margin: 0;
}
a {
    text-decoration: none;
    color: rgb(174, 144, 105);
    
}